<p>Reach me at</p>
<div class="footer-icons">
<%= link_to "" , "https://www.facebook.com/vgswn" , class: "fa fa-facebook"%>
<%= link_to "" , "https://www.twitter.com/vgswn" , class: "fa fa-twitter"%>
<%= link_to "" , "https://www.linkedin.com/in/vgswn" , class: "fa fa-linkedin"%>
<%= link_to "" , "https://www.github.com/vgswn" , class: "fa fa-github"%>
</div>
</footer>