<p>Welcome</p>

<!-- START ABOUT SECTION -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="about-inner">
          <div class="row">
            <div class="col s12 m4 l3">
              <div class="about-inner-left">
                
              </div>
            </div>
            <div class="col s12 m8 l9">
              <div class="about-inner-right">
                
                <p align=center>Hi,

My name is Vipul,Currently pursuing my bachelors from IIIT-Allahabad.

I was born and raised in Siwan,a town in Bihar.I leave my hometown to get enrolled in Vision classes for preperation of IIT-JEE after i finished my matriculation.

<br>I love to watch tv-series like Breaking Bad, FRIENDS,HIMYM .I like eating especially Pizza and biryani (or any thing having chicken or mutton in them ).

Other than this, you can read on my blog,explore some of the projects that i worked on in my 4 years of college .If you find something in common, we can be friends on Facebook.

                </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

